.latestNews{
  background-image: linear-gradient(to right, #242424, #242424 50%, white 50%);
  padding: 0 36px;
}
.rtl .latestNews{
  background-image: linear-gradient(to right, white, white 50%, #242424 50%);
}
.latestNews__content{
  background-color: white;
  padding-top: 30px;
  display: flex;
}
.latestNews__description{
  margin-bottom: 28px;
  margin-left: 30px;
}

.latestNews__col{
  margin-left: 30px;
  width: 30%;
}
.inner-container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}
.latestNews__date{
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  margin: 0px;
  letter-spacing: normal;
  text-align: left;
  color: #b2b2b2;
}
.latestNews__news-title{
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #242424;
}
.latestNews__news-content{
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #242424;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.latestNews__news-link{
  color: #242424;
  font-weight: 700;
}
.latestNews__img img{
  display: table;
  max-height: 180px;
}
.latestNews__img{
  position: relative;
}
.latestNews__img::before{
  content: '';
  background: #2e2e30b0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.hame-page__contact{
  border: solid 1px #ffffff;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  max-height: 50px;
  font-stretch: normal;
  line-height: 50px;
  letter-spacing: normal;
  text-align: left;
  color: #242424;
  width: 100%;
  max-width: 170px;
  text-align: center;
}
.home-page__quote{
  background-color: #ffdd8a;
  display: flex;
  padding: 15px 45px;
  margin-top: 90px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 75px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hame-page__quotation{
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #242424;
}
.latestNews__inner{
  padding-left: 60px;
}
.rtl .latestNews__inner{
  padding-left: 0px;
  padding-right: 60px;
}
@media screen and (max-width: 800px) {
  .latestNews__col{
    width: 100%;
  }
  .latestNews__inner{
    padding-left: 60px;
  }
  .home-page__quote{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 0px;
  }
  .latestNews{
    padding: 0 36px;
  }
}
