.modal{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
  z-index: 1000;
}
.modal__content{
  background: white;
  margin-top: 100px;
  padding: 10px;
  padding-bottom: 30px;
  border-radius: 5px;
  width: auto;
  display: table;
}
.modal__close-btn{
  font-size: 34px;
  color: red;
}
.modal__close-btn:hover{
  opacity: 0.8;
}
.modal__header{
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}
.modal__title{
  margin: 0 10px;
  font-size: 20px;
}
