.singleNews{
  margin-top: 200px;
}

.singleNews__profile{
  background-color: #ffffff;
  padding-bottom: 150px;
}
.singleNews__img{
  margin-top: -80px;
  max-height: 600px;
  height: 100%;
}
.singleNews__title{
  color: white;
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: normal;
  margin-bottom: 36px;
}
.singleNews__header{
  margin-bottom: 120px;
}
.singleNews__body{
  color: #242424;
  margin: 60px auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: normal;
}

@media screen and (max-width: 800px) {
  .singleNews{
    margin-top: 44px;
  }
  .singleNews .inner-container{
    padding: 0 34px;
  }
  .singleNews__title{
    font-size: 26px;
  }

}
