/* withou image */

.withoutImge__title{
  color: white;
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 72px;
}
@media screen and (max-width: 800px) {
  .withoutImge__header{
    padding: 0 36px;
  }
}

/* with Imge */

.whithImge__row{
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.rtl .whithImge__row{
  padding-top: 50px;
}

.withImge__side-img{
  max-width: 550px;
  max-height: 460px;
  overflow: hidden;
  bottom: -24px;
  position: relative;
  box-shadow: 24px 24px #ffdd8a;
}

.withImge__img{
  width: 100%;
  display: block;
}
@media screen and (max-width: 800px) {
  .whithImge__row{
    padding: 0 34px;
  }

}
