.portfolio{
  margin-top: 140px;
}
.portfolio__title{
  color: white;
  margin: 0;
  font-size: 48px;
  font-weight: 700;
}
.portfolio__header{
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 72px;
}
.portfolio__filter{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}
.portfolio__filter-link{
  padding: 0 12px;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 1.21;
  margin-left: 3px;
  cursor: pointer;
}
.portfolio__active-category, .portfolio__filter-link:hover{
  background: #ffdd8a;
  color: black;
}
.portfolio__main{
  background-color: white;
  padding: 72px 0;
}
.portfolio__project-pic{
  width: 100%;
  max-width: 570px;
  height: 343px;
  background-size: cover;
}
.portfolio__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio__project{
  width: 49%;
  margin-bottom: 48px;
  color: black;
}
.portfolio__project-title{
  font-size: 14px;
  margin: 24px 0 0 0;
}
.portfolio__project:hover{
  color: gray;
}
@media screen and (max-width: 800px) {
  .portfolio__header{
    flex-direction: column;
  }
  .portfolio{
    margin-top: 44px;
  }
  .portfolio .container{
    padding: 0 34px;
  }
  .portfolio__project{
    width: 100%;
    text-align: center;
  }
  .portfolio__project-pic{
    margin: 0 auto;
  }
}
