section.dashboard{
  flex-grow: 1;
}
.dashboard__container{
  min-height: calc( 100vh - 120px);
  display: flex;
  /* margin-top: 190px; */
}
aside.dashboardNav{
  background: #242424;
  color: white;
  width: 13%;
}
.dashboard .mainDash{
  flex-grow: 1;
  padding-left: 10px;
  background: white;
}
.dashboardNav ul{
  margin-top: 20px;
  font-weight: 600;
}
.dashboardNav li{
  padding: 10px;
  cursor: pointer;
  color: white;
}
.dashboardNav li:hover, .dashboardNav .active li{
  background: black;
}
a.nav__logo.active{
  background: #ffdd8a;
  display: block;
  width: 100%;
}
.nav__logo img{
  padding: 15px;
  max-width: 130px;
  margin: 0 auto;
  display: table;
}
/*Forms*/
.editBtn{
  color: #2007d0;
  cursor: pointer;
}
.textInput{
  padding: 5px;
  border-radius: 5px;
  border: none;
  border: 1px solid #bababa;
}
.deleteBtn{
  color: red;
  cursor: pointer;
  font-weight: 600;
}
.addBtn{
  background: #020285;
  display: table;
  padding: 5px;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}
.addBtn:hover{
  background: #0707cf;
}
/*Tables CSS*/
.optionsBtns{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}
.rt-td{
  display: flex;
  align-items: center;
}
.ReactTable .rt-tbody .rt-td{
  max-height: 100px;
}
