.formDash{
  display: flex;
  flex-direction: column;
}
.formDash input{
  margin: 10px 0;
  height: 30px;
}
.btnDash{
  width: 70px;
  margin-top: 10px;
  border: 1px solid gray;
  background: #303030;
  color: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
#newsImage{
  margin-left: 5px;
}

.addNews__forms{
  display: flex;
}
.form__en, .form__ar{
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.form__ar input, .form__ar textarea{
  text-align: right;
}
