.editNews .newsImageInput img{
  width: 200px;
  height: 150px;
}
.editNews #newsImage{
  margin: 0;
  margin-left: -200px;
  height: 150px;
  width: 200px;
  opacity: 0;
  position: absolute;
}
.editNews__form{
  flex: 1;
}
.editNews__textarea{
  min-height: 150px;
}
