.home-services{
  background-image: linear-gradient(to right, #242424, #242424 50%, white 50%);
  padding: 0 36px;
}
.rtl .home-services{
  background-image: linear-gradient(to right, white, white 50%, #242424 50%);
}
.number{
  font-size: 28px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #e0e0e0;
  position: absolute;
  left: -62px;
}
.rtl .number{
  left: auto;
  right: -62px;
}
.number p{
  margin: 0;
}

.home-services__content{
  background-color: white;
  padding-top: 30px;
  display: flex;
}

.home-services__title::after{
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  z-index: -1;
  right: 0;
  left: 0;
  height: 12px;
  background-color: #eae094;
}
.home-services__title{
  margin: 0;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #242424;
  position: relative;
  z-index: 1;
  display: table;
}
.home-services__paragraph{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #242424;
}
.home-services__link{
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffdd8a;
}
.col25{
  width: 25%;
  margin-left: 30px;
  margin-bottom: 28px;
  height: 270px;
}
.rtl .col25, .rtl .col50, .rtl .latestProject__description, .rtl .col60, .rtl .latestNews__description, .rtl .latestNews__col{
  margin-right: 30px;
  margin-left: 0px;
}
.col25 img, .col50 img{
  height: 100%;
}
.col50{
  width: 38%;
  margin-left: 30px;
  margin-bottom: 28px;
  height: 270px;
}
.col60{
  width: 65%;
  margin-left: 30px;
  margin-bottom: 28px;
}
.home-services__before{
  background-size: cover;
}

.img__title{
  width: 100%;
  height: 100%;
  background: #2e2e30b0;
  display: flex;
  color: white;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.home-services__slide{
  padding-left: 33px;
}
.rtl .home-services__slide{
  padding-left: 0px;
  padding-right: 60px;
}
.rtl .home-services__paragraph , .rtl .latestProject__paragraph, .rtl .latestProject__subtitle, .rtl .hame-page__quotation{
  text-align: right;
}

@media screen and (max-width: 800px) {
  .col25, .col50{
    width: 100%;
  }
  .home-services__slide{
    padding-left: 60px;
  }
  .home-services{
    padding: 0 36px;
  }
}
