.services{
  margin-top: 140px;
}

.services__main{
  background: white;
}
/* Single Service*/
.services__service-img ,.services__service-img img{
  width: 100%;
  height: 100%;
  max-width: 534px;
  max-height: 364px;
}
.services__service{
  padding: 100px 0;
  color: #242424;
}
.services__service-img{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 40px 40px 70px;
  -webkit-box-shadow: 29px 29px 0px 0px rgba(255,221,138,1);
  -moz-box-shadow: 29px 29px 0px 0px rgba(255,221,138,1);
  box-shadow: 29px 29px 0px 0px rgba(255,221,138,1);
}
.services__service-container{
  display: flex;
}
.services__service-title{
  font-size: 28px;
  font-weight: 700;
  margin: 16px 0;
}
.services__service-description{
  font-size: 16px;
  line-height: 1.5;
  max-width: 480px;
  margin: 0;
}
.services__service-content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services__service:nth-child(3n+1) {
  background: white;
}

.services__service:nth-child(3n+2) {
  background: #ffdd8a;
}
.services__service:nth-child(3n+2) .services__service-img{
  -webkit-box-shadow: 29px 29px 0px 0px rgba(255,255,255,1);
  -moz-box-shadow: 29px 29px 0px 0px rgba(255,255,255,1);
  box-shadow: 29px 29px 0px 0px rgba(255,255,255,1);
}

.services__service:nth-child(3n+0) {
  background: #242424;
  color: white;
}

.services__service:nth-child(even) .services__service-container{
  flex-direction: row-reverse;
}
.services__service:nth-child(even) .services__service-img{
  margin: 0 70px 40px 0;
}
@media screen and (max-width: 800px) {
  .services{
    margin-top: 44px;
  }
  .services__service{
    padding: 50px 0;
  }
  .services .container{
    padding: 0 34px;
  }
  .services__service-img{
    width: 100%;
  }
  .services__service-img,
  .services__service:nth-child(even) .services__service-img{
    margin: 20px auto;
  }
  .services__service-container,
  .services__service:nth-child(even) .services__service-container{
    flex-direction: column;
  }
}
