.warning-content {
  height: 300px;
  text-align: center;
}

.warning-content h1 {
  font-weight: 100;
  font-size: 27pt;
  color: #303030;
}
.shop-container{
  margin-top: 140px;
}
.shop__title{
  font-size: 28px;
  font-weight: 700;
  margin: 16px 0;
}
.underconstruction{
  background-color: white;
  padding-top: 20px;

}
@media screen and (max-width: 800px) {
  .shop-container{
    margin-top: 44px;
    padding: 0 34px;
  }
}
